{% extends 'MMCSonataAdminBundle::sonata_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}
    <link rel="icon" type="image/png" href="/favicon.png" />
{% endblock meta_tags %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-left">
        </div>

        {{ block('sonata_top_nav_menu') }}
    </nav>
{% endblock sonata_nav %}

{% block sonata_page_content_header %}
    <div class="container">
        {{ block('sonata_breadcrumb') }}
    </div>
    {{ parent() }}
{% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        {% if _breadcrumb is not empty or action is defined %}
            <ol class="breadcrumb">
                {% if _breadcrumb is empty %}
                    {% if action is defined %}
                        {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                            {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                            {%- set label = menu.label -%}
                            {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                            {%- endif -%}

                            {% if not loop.last %}
                                <li>
                                    {% if menu.uri is not empty %}
                                        <a href="{{ menu.uri }}">
                                            {% if menu.extra('safe_label', true) %}
                                                {{- label|raw -}}
                                            {% else %}
                                                {{- label -}}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <span>{{ label }}</span>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="active"><span>{{ label }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {{ _breadcrumb|raw }}
                {% endif %}
            </ol>
        {% endif %}
    </div>
{% endblock sonata_breadcrumb %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
