{% extends 'AppBundle::sonata_layout.html.twig' %}

{% trans_default_domain 'Larp' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block sonata_admin_content %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-7 ">
            {{ form_start(form, {attr: {class: "box box-primary"}}) }}
                <div class="box-header">
                    <h4 class="box-title">{{ 'import_parameters.title'|trans }}</h4>
                </div>
                <div class="box-body">
                    {{ form_row(form.file, {label: 'import_parameters.input', attr: {class: 'form-control'}}) }}

                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <input type="submit" class="btn btn-success" value="{{ 'import_parameters.submit'|trans }}" />
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock sonata_admin_content %}

{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}